<a class="{{node.type}}" *ngIf="node" (click)="editNode(node)" [contextMenu]="basicMenu" [contextMenuSubject]="node">
  {{node.label}}
  <div class="configuration" *ngIf="util.isMonitoring(node)">
    <div class="parameter" *ngFor="let parameter of parameters()">
      {{parameter}}
    </div>
  </div>
  <div *ngIf="util.isMonitoring(node)" class="evidence">
    <button type="button" mat-button (click)="showEvidence($event)">
      <mat-icon>search</mat-icon>
      <span class="evidence"><b>Evidence</b></span>
    </button>
  </div>
</a>
<div *ngIf="node && util.hasChildren(node)">
  <div class="refinement">{{node.refinement}}</div>
  <ul>
    <li *ngFor="let child of node.children">
      <node [parent]="node" [node]="child"></node>
    </li>
  </ul>
</div>

<context-menu>
  <ng-template contextMenuItem let-item (execute)="deleteNode($event.item)">
    <div *ngIf="parent">Delete</div>
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="addAttack($event.item)">
    <div *ngIf="util.isAttack(item) && util.isNotMonitored(node)">Add child</div>
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="addMonitoring($event.item)">
    <div *ngIf="util.canBeMonitored(item)">Add monitoring</div>
  </ng-template>
</context-menu>
