.configuration {
  margin-top: 10px;
}

.refinement {
  margin-top: 5px;
  font-size: 11px
}

.attack {
  border: solid #e60000;
}

.monitoring {
  border: solid green;
}

.parameter {
  text-align: left;
}
