<mat-toolbar color="primary">
  <mat-toolbar-row>
    <b class="morch">Morch&nbsp;&nbsp;</b><b class="morch-description"><i>Monitoring Orchestration For Microservices</i></b>
    <span fxFlex></span>
    <a (click)="logout()" mat-button>
      <mat-icon>account_box</mat-icon>
      Logout
    </a>
  </mat-toolbar-row>
</mat-toolbar>
