<div class="container">
  <pan-zoom [config]="panZoomConfig">
    <div class="tree relative">
      <ul>
        <li>
          <node [node]="tree.root"></node>
        </li>
      </ul>
    </div>
  </pan-zoom>
</div>
