<div class="container h-100">
  <div class="row justify-content-md-center h-100">
    <div class="card-wrapper">
      <!--<div class="brand mb-4">-->
        <!--<mat-icon>account_box</mat-icon>-->
      <!--</div>-->
      <div class="card fat">
        <div class="card-body">
          <h4 class="card-title">Login</h4>
          <form [formGroup]="form" (ngSubmit)="login()">
            <div class="form-group">
              <label for="username">username</label>
              <input id="username" type="text" class="form-control" required placeholder="Enter your username" name="username" autofocus formControlName="username"
                     [ngClass]="{'is-invalid': form.controls.username.touched && form.controls.username.invalid }">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input id="password" type="password" class="form-control" required placeholder="Enter your password" name="password" data-eye formControlName="password"
                     [ngClass]="{'is-invalid': form.controls.password.touched && form.controls.password.invalid }">
            </div>
            <div *ngIf="invalidCredentials" class="alert alert-danger">
              <strong>Invalid Credentials!</strong>
            </div>
            <div class="form-group no-margin">
              <button type="submit" class="btn btn-primary btn-block" style="background-color: #004d00">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
