.scrollbar {
  max-height: 80vh;
}

.export {
  color: black;
}

.hidden {
  visibility: hidden;
}

.card {
  margin: 5px;
}

.card-info {
  margin-bottom: 10px;
}

.tree {
  min-height: 80vh;
}

.save {
  width: 100%;
  background-color: #004d00;
  color: white;
}

.button-text {
  margin-top: 1px;
}
