<navbar></navbar>
<ngx-spinner></ngx-spinner>
<div fxLayout="row">
  <div fxFlex="16%">
    <!--<div *ngIf="startTime">Request time: {{startTime}}</div>-->
    <br>
    <div fxLayout="row">
      <div fxLayout="col">
        <button type="button" mat-button (click)="createTree()">
          <mat-icon>add_circle</mat-icon>
          Create
        </button>
      </div>
      <div fxLayout="col">
          <button type="button" mat-button (click)="mySelectedFile.click()">
            <mat-icon>cloud_upload</mat-icon>
            Import
          </button>
          <input class="hidden" type="file" #mySelectedFile (change)="importTree($event)">
      </div>
      <div fxLayout="col">
        <a class="export" (click)="exportTrees()" [href]="fileUrl" download="amts.json">
          <button type="button" mat-button>
            <mat-icon >save_alt</mat-icon>
            export
          </button>
        </a>
      </div>
    </div>
    <div fxLayout="row">
      <perfect-scrollbar class="scrollbar">
        <div class="list"
             cdkDropList
             #treeList="cdkDropList"
             [cdkDropListData]="trees"
             (cdkDropListDropped)="onDrop($event)">
          <mat-card class="card" (click)="selectTree(i)" *ngFor="let tree of trees; let i = index" cdkDrag>
            <!--{{updateRendering()}}-->
            <mat-card-content>
              <div fxLayout="row" class="card-info">
                <div fxLayout="col" fxFlex="1/2" fxLayoutAlign="left">
                <b>ID: {{tree.id}}</b>
                </div>
                <div fxLayout="col" fxFlex="1/2" fxLayoutAlign="right">
                  <button type="button" mat-button (click)="showEvidence($event)">
                    <mat-icon>search</mat-icon>
                    <span class="evidence"><b>Evidence</b></span>
                  </button>
                </div>
              </div>
              <div fxLayout="row" class="card-info">
                {{tree.root.label}}
              </div>
              <div fxLayout="row">
                <div fxLayout="col" fxFlex="1/4" fxLayoutAlign="center">
                  <mat-slide-toggle [(ngModel)]="tree.active"></mat-slide-toggle>
                </div>
                <div fxLayout="col" fxFlex="1/4" fxLayoutAlign="center">
                  <mat-icon class="cursor" (click)="copyTree(i)">file_copy</mat-icon>
                </div>
                <div fxLayout="col" fxFlex="1/4" fxLayoutAlign="center">
                  <mat-icon class="delete cursor" (click)="deleteTree(i)">delete</mat-icon>
                </div>
                <div fxLayout="col" fxFlex="1/4" fxLayoutAlign="center">
                  <a (click)="exportTree(i)" [href]="fileUrl" download="amt.json"><mat-icon class="export">save_alt</mat-icon></a>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </perfect-scrollbar>
    </div>
    <button mat-raised-button class="save" (click)="save()">Save</button>
  </div>
  <div fxFlex="87%">
    <perfect-scrollbar class="tree">
      <tree *ngIf="tree" [tree]="tree"></tree>
    </perfect-scrollbar>
  </div>
</div>

