<div mat-dialog-content [formGroup]="form">
  <mat-form-field class="goal-label" [floatLabel]="'auto'" hintLabel="Max {{labelMaxLength}} characters">
    <input matInput #input maxlength="{{labelMaxLength}}" placeholder="Label" formControlName="label">
    <mat-hint align="end">{{input.value?.length || 0}}/{{labelMaxLength}}</mat-hint>
  </mat-form-field>
  <mat-form-field *ngIf="hasAttackChildren" class="refinement" [floatLabel]="'auto'">
    <mat-select placeholder="Refinement" formControlName="refinement">
      <mat-option value="OR">OR</mat-option>
      <mat-option value="AND">AND</mat-option>
    </mat-select>
  </mat-form-field>

  <perfect-scrollbar *ngIf="isMonitoring">
    <mat-form-field *ngIf="form.get('rule')" class="asset" [floatLabel]="'auto'" formGroupName="rule">
      <!--//TODO: this is a hack: we need to change asset notion to event in the backend-->
      <mat-select [(value)]="selectedAsset" (selectionChange)="assetChanged()" placeholder="Event" formControlName="asset">
        <mat-option value="{{asset}}" *ngFor="let asset of assets">{{asset}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="form.get('rule')" class="tool" [floatLabel]="'auto'" formGroupName="rule">
      <mat-select [(value)]="selectedTool" (selectionChange)="prepareDynamicRuleParameters()" placeholder="Tool" formControlName="tool">
        <mat-option value="{{tool}}" *ngFor="let tool of assetToTool[selectedAsset]">{{tool}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="services" class="service" [floatLabel]="'auto'" formGroupName="rule" >
      <mat-select [(value)]="service" placeholder="Service" formControlName='service'>
        <mat-option value="{{service}}" *ngFor="let service of services">{{service}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div fxLayout="row" class="parameters" *ngIf="form.get('parameters') && selectedAsset && selectedTool">
      <div fxLayout="col" fxLayoutAlign="center center" *ngFor="let parameter of parameters(); let i = index" formGroupName="parameters">
        <mat-form-field *ngIf="util.isString(parameter.template.type)"
                        [style.width.px]="maxWidth(parameter)" class="parameter" [floatLabel]="'auto'" hintLabel="Max {{parameter.maxLength}} characters">
          <input matInput #input maxlength="{{parameter.maxLength}}" placeholder="{{parameter.name}}" formControlName="{{parameter.name}}">
          <mat-hint align="end">{{input.value?.length || 0}}/{{parameter.maxLength}}</mat-hint>
        </mat-form-field>
        <mat-form-field *ngIf="util.isEnum(parameter.template.type)"
                        [style.width.px]="maxWidth(parameter)" class="parameter" [floatLabel]="'auto'">
          <mat-select placeholder="{{parameter.name}}" formControlName="{{parameter.name}}">
            <mat-option *ngIf="!parameter.required"></mat-option>
            <mat-option value="{{value}}" *ngFor="let value of parameter.template.values">{{value}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="util.isConditional(parameter.template.type)" fxLayout="row">
          <mat-form-field [style.width.px]="maxWidth(parameter)" class="parameter" [floatLabel]="'auto'">
            <mat-select placeholder="{{parameter.name}} key" formControlName="{{parameter.name}}-key">
              <mat-option *ngIf="!parameter.required"></mat-option>
              <mat-option value="{{key}}" *ngFor="let key of parameter.template.keys">{{key}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="parameter operator" [floatLabel]="'auto'">
            <mat-select placeholder="{{parameter.name}} operator" formControlName="{{parameter.name}}-operator">
              <mat-option *ngIf="!parameter.required"></mat-option>
              <mat-option value="{{operator}}" *ngFor="let operator of parameter.template.operators">{{operator}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field [style.width.px]="maxWidth(parameter)" class="parameter" [floatLabel]="'auto'" hintLabel="Max {{parameter.maxLength}} characters">
            <input matInput #input maxlength="{{parameter.maxLength}}" placeholder="{{parameter.name}} value" formControlName="{{parameter.name}}-value">
            <mat-hint align="end">{{input.value?.length || 0}}/{{parameter.maxLength}}</mat-hint>
          </mat-form-field>
        </div>
        <div *ngIf="parameter.multipleAllowed" class="icons" fxLayout="row">
          <mat-icon class="delete cursor" (click)="removeParameter(parameter)">remove_circle</mat-icon>
          <mat-icon class="create cursor" [matMenuTriggerFor]="menu">add_circle</mat-icon>
          <mat-menu #menu="matMenu">
            <button (click)="createParameter(i + 1, multipleAllowedParameter)" mat-menu-item *ngFor="let multipleAllowedParameter of multipleAllowedParameters">
              {{multipleAllowedParameter}}
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>
<div mat-dialog-actions class="center buttons">
  <button mat-button class="button cancel" (click)="cancel()">Cancel</button>
  <button mat-button class="button save" (click)="save()">Save</button>
</div>
