.goal-label {
  width: 400px;
  margin-bottom: 20px;
}

.refinement {
  width: 80px;
}

.asset {
  width: 120px;
  margin-right: 20px;
}

.tool {
  width: 120px;
  margin-right: 20px;
}

.service {
  width: 180px;
}

.parameters {
  display: flex;
}

.operator {
  width: 120px;
}

.parameter {
  margin-right: 10px;
}

.icons {
  margin-right: 15px;
}

.center {
  justify-content: center;
}

.buttons {
  margin-top: 20px;
}

.button {
  width: 80px;
}

.cancel {
  background-color: blue;
  color: white;
}

.save {
  background-color: green;
  color: white;
}

.scrollbar {
  max-width: 50vh;
}

.conditional {
  text-align:center;
}
